* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
}

div{
  padding: 10px;
}

li {
  padding: 12px;
}

/* Para moviles */
@media(min-width: 0px) and (max-width: 767px){
  header, main {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .menu {
    padding: 10px;
    visibility: hidden;
    max-height: 0;
  }

  .hamburger {
    color: white;
    background-color: gray;
    display: flex;
    flex-direction: row;
  }

  .product {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 90%;
    margin: 2px;
    border: 3px solid grey;
  }

  .social {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
  }
    footer {
    margin-top: 10px;
    border-top: 3px solid grey;
  }
}

/* Para tablets */
@media (min-width:768px) and (max-width:1024px){
  header {
    display: flex;
    flex-direction: row;
  }

    header > h1 {
    margin-right: 35%;
  }

  .logo {
    margin: 10px auto;
  }

    .menu {
    visibility: hidden;
    max-height: 0px;
    padding: 0px;
  }

    main {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .hamburger {
    color: white;
    background-color: gray;
    justify-content: flex-end;
  }


  .product {
    align-items: center;
    border: 3px solid grey;
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 90%;
    margin: 3px;
  }

  footer {
    margin-top: 10px;
    border-top: 3px solid grey;
  }

  .social {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    padding: 0px;
  }

}

/* para pantallas mas largas, como de pc*/
@media (min-width: 1025px){
  header {
    display: flex;
    flex-direction: row;
  }

  .logo {
    margin: 15px auto;
  }

  header > h1 {
    margin-right: 40%;
  }

  .menu {
    color: white;
    background-color: gray;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
  }

  main {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .hamburger {
   visibility: hidden;
   max-height: 0px;
   padding: 0;
    }

  .product {
    border: 3px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 5px;
  }

  footer {
    margin-top: 10px;
    border-top: 3px solid grey;
  }

  .social {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 5px;
  }
}